extends layout

block content
  h4.text-center Your MiniLinx For
  h3.text-center(name='url')= url
  h4.text-center is
  h3.text-center
    a(href='http://node-express-env.mpw7wpz2uk.us-west-2.elasticbeanstalk.com/' + webid)= 'http://node-express-env.mpw7wpz2uk.us-west-2.elasticbeanstalk.com/' + webid
