extends layout

block content
  h4.text-center Your MiniLinx For
  h3.text-center= url
  h4.text-center is
  h3.text-center
    a(href='http://localhost:3000/' + webid)= 'http://localhost:3000/' + webid
